<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create new Purchase</title>
</head>
<body>
    Halim:
    {% if purchase %}
    <p>Purchase Number : {{purchase.id}} created</p>
    <p>Purchase Price : {{purchase.price}}</p>
    <p>Purchase Status : {{purchase.get_status_display}}</p>
    <a href="{% url 'payment' purchase.payment.invoice_number %}">buy mother fucker</a>
    {% else %}
    <p>Purchase Not Created</p>
    {% endif %}

</body>
</html>