<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment</title>
</head>
<body>
<h1>
    Title : {{payment.purchase.title}}
</h1>
<h2>
    payment id : {{payment.invoice_number}}----
    payment amount : {{payment.amount}}----

</h2>

<h1>
    Gateways :
</h1>
<h2>
    {% for gateway in gateways %}
    <p><a href="{% url 'payment-gateway' payment.invoice_number gateway.gateway_code %}">{{gateway.title}}</a></p>
    {% endfor %}
</h2>


</body>
</html>